<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="caotinging.mapper.OrderMapper">
	<!-- 结果集手动映射 -->
	<resultMap type="Order" id="order">
		<id column="id" property="id"/>
		<!-- 将数据库中的user_id映射为结果集中的userId -->
		<result column="user_id" property="userId"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createtime"/>
		<result column="note" property="note"/>
		<!-- 一对一关联映射association -->
		<association property="user" javaType="User">
			<!-- id是外键关联查询的唯一标识 -->
			<id column="user_id" property="id"/>
			<result column="username" property="username"/>
			<result column="address" property="address"/>
		</association>
	</resultMap>
	<select id="findAllOrder" resultMap="order">
		select * from orders
	</select>
	
	<select id="findAllOrderUser" resultMap="order">
		select
			o.id,
			o.user_id,
			o.number,
			o.createtime,
			u.username,
			u.address
		from orders o 
		left join user u on o.user_id=u.id
	</select>
</mapper>