<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="caotinging.mapper.OrderMapper">
	<!-- 结果集手动映射 -->
	<resultMap type="Order" id="order">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
	</resultMap>

	<select id="findAllOrder" resultMap="order">
		select * from orders
	</select>
</mapper>
