<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<!-- 加载初始化文件 配置spring配置文件地址 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 配置shiro核心过滤器。必须位于struts2过滤器之前 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 扩大hibernate的session的作用范围：解决懒加载nosession问题 -->
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- struts2核心过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<!-- /*中通过request dispatcher的forward方法传递过来或者直接从客户端传递过来的，则必须经过这个过滤器 -->
		<dispatcher>REQUEST</dispatcher>
  		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- 
		服务器誓言：
		
		参考输入将至，我将开始控制，至死方休。
		我将不崩溃，不宕机，不死锁。
		我将不闹脾气，不乱报错。我将尽忠职守，维持稳定。
		我是运动力学中的李雅普诺夫，信号中的卡尔曼，抵御强烈的扰动，
		跟随时域的曲线，唤醒执行器的运动，守护系统的性能。
		我将生命与荣耀献给控制系统，今夜如此，夜夜皆然
													2017.12.22
	 -->

	<!-- 配置spring随web启动而启动的监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>