/scripts.conf
/solrconfig.xml
/spellings.txt
/stopwords.txt
/synonyms.txt
/update-script.js
/_rest_managed.json
/_schema_analysis_stopwords_english.json
/_schema_analysis_synonyms_english.json
/admin-extra.html
/admin-extra.menu-bottom.html
/admin-extra.menu-top.html
/currency.xml
/elevate.xml
/mapping-FoldToASCII.txt
/mapping-ISOLatin1Accent.txt
/protwords.txt
/clustering/
/lang/
/velocity/
/xslt/
